.libs/
.autotools
.cproject
Makefile

aclocal.m4
autom4te.cache/
compile
config.h.in~


config.h
config.log
config.status
librxtxSerial.la
libtool
stamp-h1
stamp-h.in

Makefile.in
config.h.in
configure
ltmain.sh
missing
